<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}" ></title>
</head>
<body>
<h1 th:text="${h1}"></h1>

<form th:action="@{/addIntegrante}" th:object="${integrante}" method="post">

<!-- DATOS NATIVOS DE LA ENTIDAD INTEGRANTE -->
    <label for="nombre">Nombre: </label>
    <input type="text" th:field="*{nombre}" id="nombre" > <br><br>

    <label for="apellido">Apellido </label>
    <input type="text" th:field="*{apellido}" id="apellido"> <br><br>

    <label for="exp">Anos de experiencia: </label>
    <input type="number" th:field="*{experiencia}" id="exp"> <br><br>

    <label for="nacimiento">Nacimiento: </label>
    <input type="text" th:field="*{fechaNacimiento}" id="nacimiento"> <br><br>

    <!-- DATOS QUE SIRVEN PARA HACER LAS CONECCIONES CON LAS DEMAS TABLAS-->

    <!-- PUESTO-->


    <label for="puesto">Puesto: </label>

    <select id="puesto" th:field="*{puesto}">
        <option value=""> Seleccione uno </option>
        <option th:each="p:${listaPuestos}" th:text="${p.nombre}" th:value="${p.id}"></option>
    </select>
    <br><br>

    <!-- LENGUAJES-->

    <label>Lenguajes: </label>
     <div th:each=" lenguaje : ${listaLenguajes}">
         <input type="checkbox" th:value="${lenguaje.id}" th:field="*{lenguajes}" >
         <label th:text="${lenguaje.nombre}"></label>
     </div><br><br>


    <!-- USUARIO -->

     <label for="email">Email: </label>
     <input type="text" name="email" id="email" > <br><br>

     <label for="password">Contrasena: </label>
     <input type="text" name="password" id="password" > <br><br>


    <!-- EQUIPO -->

     <input type="submit" >
 </form>

