<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/table.css}" type="text/css">
</head>

<body>
<header>
    <nav>
        <div class="logo">
            <img th:src="@{/img/uc.png}" alt="">
        </div>

        <div class="menu">
            <ul>
                <li><a th:href="@{/app}">Home</a></li>
                <li><a>Mi Agenda</a></li>
                <li><a>Mi Equipo</a></li>
                <li><a>Personal</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>


    </nav>
</header>

<h1 th:text="${titulo}"></h1>

<h4> Integrantes: </h4>

<section class="content-info">
    <table >
        <thead>
        <tr class="tr">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Puesto</th>
            <th>Eliminar</th>

        </tr>
        </thead>
        <tbody>
        <tr class="tr"  th:if="${lider != null}">
            <td th:text="${lider.nombre}"></td>
            <td th:text="${lider.apellido}"></td>
            <td th:text="${lider.usuario.email}"></td>
            <td th:text="${lider.puesto.nombre}"></td>
            <td><a th:href="@{/eliminarIntegrante/} + ${equipo.id} + @{/} + ${lider.id}" th:text="eliminar"></a></td>
        </tr>
        <tr th:if="${programadores != null}" th:each="integrante : ${programadores}">
            <td th:text="${integrante.nombre}"></td>
            <td th:text="${integrante.apellido}"></td>
            <td th:text="${integrante.usuario.email}"></td>
            <td th:text="${integrante.puesto.nombre}"></td>
            <td><a th:href="@{/eliminarIntegrante/} + ${equipo.id} + @{/} + ${integrante.id}" th:text="Eliminar"></a></td>
        </tr>
        </tbody>
    </table>
</section>



<section class="content-info">
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Años de experiencia</th>
            <th>Lenguajes</th>
            <th>Puesto</th>
            <th>Equipo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${listaIntegrantes != null}" th:each="integrante : ${listaIntegrantes}" class="tr">
            <td th:text="${integrante.nombre}"></td>
            <td th:text="${integrante.apellido}"></td>
            <td th:text="${integrante.usuario.email}"></td>
            <td th:text="${integrante.experiencia}"></td>
            <!-- lista de lenguajes -->
            <td class="td-lista">
                <p th:each=" lenguaje : ${integrante.getLenguajes()}" th:text="${lenguaje.nombre}"></p>
            </td>
            <td th:text="${integrante.puesto.nombre}"></td>
            <td th:if="${integrante.equipo != null}" th:text="${integrante.equipo.nombre}"></td>
            <td th:if="${integrante.equipo == null}" > Sin equipo </td>
            <td><a th:href="@{/agregarIntegrante/} + ${equipo.id} + @{/} + ${integrante.id}" th:text="Agregar"></a></td>

        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
