<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>nuevo titulo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3fe8c9b28b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <img th:src="@{/img/uc.png}" alt="">
        </div>

        <div class="menu">
            <ul>
                <li><a th:href="@{/app}">Home</a></li>
                <li><a>Mi Agenda</a></li>
                <li><a>Mi Equipo</a></li>
                <li><a>Personal</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>


    </nav>

</header>
<section class="content-info">

    <h2>Bienvenido <span th:text="${integrante.nombre}"></span></h2>
    <div class="title-entrada">
        <h3>Empleado</h3>
        <div class="content-entrada">
            <a th:href="@{/formIntegrante}" class="entrada">
                Agregar Empleados <i class="fas fa-user-tie"></i>
            </a>
            <a th:href="@{/listaIntegrantes}" class="entrada">
                Listar Empleados <i class="fas fa-user-tie"></i>
            </a>
            <a href="" class="entrada">
               Mi informacion <i class="fas fa-user-tie"></i>
            </a>
        </div>
    </div>

    <div class="title-entrada">
        <h3>Equipos</h3>
        <div class="content-entrada">
            <a th:href="@{/agregarEquipo}" class="entrada">
                Crear un equipo <i class="fas fa-user-tie"></i>
            </a>
            <a th:href="@{/listarEquipos}" class="entrada">
                Listar equipos <i class="fas fa-user-tie"></i>
            </a>
            <a href="" class="entrada">
               Mi Equipo <i class="fas fa-user-tie"></i>
            </a>
        </div>
    </div>

    <div class="title-entrada">
        <h3>Cuentas</h3>
        <div class="content-entrada">
            <a th:href="@{/agregarCuenta}" class="entrada">
                Crear Cuenta <i class="fas fa-user-tie"></i>
            </a>
            <a th:href="@{/listarCuentas}" class="entrada">
                Listar Cuentas <i class="fas fa-user-tie"></i>
            </a>
            <a href="" class="entrada">
                Mi Cuenta <i class="fas fa-user-tie"></i>
            </a>
        </div>
    </div>

    <div class="title-entrada">
        <h3>Reunion</h3>
        <div class="content-entrada">
            <a th:href="@{/agregarReunion}" class="entrada">
                Crear Reunion <i class="fas fa-user-tie"></i>
            </a>
            <a  th:href="@{/listarReuniones}" class="entrada">
                Todas las reuniones<i class="fas fa-user-tie"></i>
            </a>
            <a th:if="${integrante.id != null}" th:href="@{/listarReuniones/} + ${integrante.id}" class="entrada">
                Reuniones disponibles<i class="fas fa-user-tie"></i>
            </a>
        </div>
    </div>

    <div class="title-entrada">
        <h3>Usuarios</h3>
        <div class="content-entrada">
            <a th:href="@{/listarUsuarios}" class="entrada">
                Listar Usuarios <i class="fas fa-user-tie"></i>
            </a>
        </div>
    </div>
</section>

</body>
</html>