<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Email</th>
        <th>Contraseña</th>
        <th>Eliminar</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.password}"></td>
        <form th:action="@{/eliminar}" method="post">
            <input type="text" th:value="${usuario.email}" name="email" style="display: none">
            <input type="submit" value="eliminar">
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>